# Database Configuration
POSTGRES_USER=user
POSTGRES_PASSWORD=user_password
POSTGRES_DB=postgres_db

MONGO_USER=user
MONGO_PASSWORD=user_password
MONGO_DB=mongo_db

# JWT Configuration
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=3600

# Network Configuration
HOST_IP=localhost
API_PORT=8080
FRONTEND_PORT=3000